@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

head, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #292b2c;
  text-shadow: 0px 2px 8px rgba(150, 150, 150, 0.9);
}

.bg-inverse {
  background-color: #1f2223!important;
}

nav * {
  font-weight: 100;
  font-size: 1.5em;
}

.card {
  height: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
  border: 0px;
}

.layer {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 52vh;
  border-radius: 3px;
  padding: 0.5em;
}

.row {
  align-items: center;
  text-align: center;
}

.col {
  padding: 0.3em;
}

.verticalAlign {
  margin-top: 15vh;
}

.cityName {
  text-align: center;
  font-size: 1.5em;
}

.temp {
  padding-top: 0.5em;
  font-weight: 600;
  font-size: 4em;
  text-align: center;
  color: white;
  display: inline;
}

.degreeSymbol {
  font-size: 1em;
  display: inline;
}

.windSpeed {
  text-shadow: 0px 2px 8px rgba(150, 150, 150, 0.9);
  font-weight: 300;
  font-size: 0.8em;
}

.btnPosition {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2vh;
  align-items: center;
  margin: 0 auto;
  width: 8em;
  font-size: 1em;
}


/* Style related to content that shows the weather forecast in the next hours */

.smallTemp {
  width: 100%;
  font-size: 0.8em;
  font-weight: 200;
}

.bottom {
  position: fixed;
  margin-left: -1.8em;
  bottom: 1em;
  width: 100%;
}

/* Chart Style */

.chart{
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}
