<head>
  <title>Weather app</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unica+One">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">


  <nav class="navbar sticky-top navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">
      <i class="ion-ios-partlysunny-outline"></i> Weather forecast channel
    </a>
  </nav>

</head>

<body>

  <div class="container-fluid" id="fluidContainer">
    <div class="row" id="block">
    </div>

    <div id="chart"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="js/fetchData.js"></script>
  <script src="js/chart.js"></script>

</body>
